[Unit]
Description=Postfix SMTP server
# Requirements
Requires=docker.service dockerpost-dovecot.service dockerpost-amavis.service
After=docker.service dockerpost-dovecot.service dockerpost-amavis.service

[Service]
# Name passed to docker compose
Environment=APP='postfix'
# Where the docker-compose.yml file is
WorkingDirectory=/root/docker-post/

# Let processes take awhile to start up (for first run Docker containers)
TimeoutStartSec=0

# Change killmode from "control-group" to "none" to let Docker remove
# work correctly.
KillMode=none

# Pre-start and Start
## Directives with "=-" are allowed to fail without consequence
ExecStartPre=-/usr/local/bin/docker-compose kill $APP
ExecStartPre=-/usr/local/bin/docker-compose rm -f $APP
ExecStartPre=/usr/local/bin/docker-compose pull $APP
ExecStartPre=/usr/local/bin/docker-compose build $APP

# Start
ExecStart=/usr/local/bin/docker-compose up --force-recreate --no-deps $APP

# Stop
ExecStop=/usr/local/bin/docker-compose stop $APP

[Install]
WantedBy=multi-user.target
