[Unit]
Description=Training service for SpamAssassin's Bayesian filter
# Requirements
Requires=docker.service dockerpost-amavis.service
After=docker.service dockerpost-amavis.service

[Service]
Type=oneshot
# Where the docker-compose.yml file is
WorkingDirectory=/root/docker-post/

ExecStart=/usr/bin/docker exec -t $(/usr/local/bin/docker-compose ps -q amavis) /usr/local/bin/learn.sh
